@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.side-nav {
    position: absolute;
    top: 0%;
    max-width: 220px;
    width: 220px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height: 100vh;
}

.nav-header {
    max-height: 68px;
}

.nav-head {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 65px;
    height: 68px;
    text-align: center;
}

.nav-list > li {
   line-height: 35px;
   padding-left: 24px;
   height: 33px;
   border-bottom: 2px solid #e7e7e7;
   font-size: 15px;
   font-weight: 500;
   list-style-type: none;
}

.nav-list > li > a {
    text-decoration: none;
    color: #725c5c;
}

.nav-list > li:hover {
    cursor: pointer;
    background-color: #fdf1eb;
    transition: 0.2s ease-in-out;
}

.li-open {
    background-color: #fdf1eb;
}

.open {
    position: absolute;
    left: 0%;
    width: 5px;
    height: 33px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.language-selector {
    width: 97px;
    height: 34px;
    position: absolute;
    left: 700px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fdf1eb;
}

#lang {
    border-style: none;
    background-color: #fdf1eb;
}
